@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin:0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* //card component  */
.cards{
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap: 1rem;
}

.cards .box{
    padding: 2rem;
    text-align: center;
}

.icon{
  font-size:1.6rem;
}

input[type="search"]::-webkit-search-cancel-button{
  display: none;
}

.cards .box img{
    height: 14rem;
}



.overlay-content {
  opacity: 0;
  transition: opacity 0.3s ease; 
}

.img:hover .overlay-content {
  opacity: 1; 
}


.row{
  grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
}


@keyframes pulse {
  50% {
      opacity: .5;
  }
}
.box:hover .pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  color: red;
}


.cart-modal {
  position: absolute;
  right: -10px;
  top: 5rem;
  background-color: #ffffff;
  width: 360px;
  box-shadow: rgba(100, 100, 111, 0.25) 0px 7px 29px 0px;
  padding: 1.8rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: ease all;
  z-index: 99;
  height: 460px;
  overflow-y: scroll;
}

.cart-modal::-webkit-scrollbar {
  width: 5px;
}

.cart-modal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.cart-modal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffffff;
  outline: 1px solid #ffffff;
}

.cart-modal::after {
  position: absolute;
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 13px solid #ffffff;
  right: 8px;
  top: -13px;
}

.cart-modal-title {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 12px;
}

.cart-modal-list .cart-modal-item {
  grid-template-columns: 64px auto 65px;
  column-gap: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.cart-modal-list .cart-modal-item-img {
  width: 60px;
  height: 60px;
}

.cart-modal-list .cart-modal-item-title {
  color: rgba(0, 0, 0, 0.85);
}

.cart-modal-empty img {
  width: 120px;
  margin-top: 2rem;
}

.cart-modal-empty h6 {
  margin-top: 1.6rem;
}

.view-cart-btn {
  display: inline-block;
  width: 200px;
  padding: 5px 1rem;
  margin-top: 1.8rem;
  margin-left: auto;
  border-radius: 2px;
}
